html {
    font-size: 100%;
    /*  In most browsers, this defaults to 16 pixels */
    overflow: hidden;
}




.form {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 576px) {
    form {
        position: relative;
        z-index: 1;
        width: 310px
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form input {
    border: 1px solid #FFFFFF;
    border-radius: 60px;
    padding: 15px 32px 17px;
    height: 64px;
    color: rgb(33, 33, 33, 1);

    outline: 0;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    margin: 0 0 15px;
    box-sizing: border-box;
    
    font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -0.03em;
    text-align: center;
}

/* .form button {
    margin-top: 12%;
    font-family: 'Satoshi', sans-serif;
    background: #070D0D;
    width:100%;
    border: 0;
    padding: 15px;
    opacity: 0.8;
    color: #FFFFFF;
    font-size: inherit;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
} */

::placeholder {
    font-size: inherit;
    font-family: 'Satoshi', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: rgb(33, 33, 33, 1);
    text-align: center;
}