
@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Bold.woff") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Black.woff") format("truetype");
    font-weight: 900;
    font-style: normal;
  }




html {
	font-size: 100%; /*  In most browsers, this defaults to 16 pixels */
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.navbar.scrolled {
	background-color: #fff !important;
    transition: background-color 200ms linear;
  }

#hero {
		width: 100%;		
		height: 20vh;
		background: url("./img/gp-hero.png") center center;
		background-size: auto;
		background-size: cover;
		position: relative;
		padding: 0;
}

.img-fluid#clickable:hover {
    cursor: pointer;
}


body {
	font-style: sans-serif;
	font-family: 'Satoshi', sans-serif;
}

#primary {
	background: #070D0D;
}

#secondary {
	background: #fff;
}



p {
	font-size: 1.4em;
	color: #2C2C2C;
	font-weight: 400;
	letter-spacing: -0.006em;	
}

a {
	color: #fff;
	font-size: inherit;
	opacity: 0.6;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover {
	color: #fff;
	opacity: 1;
	font-size: inherit;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 

a.p {
	color: #2C2C2C;
	font-weight: 500;
}

a.nav-link {
		font-family: 'Satoshi', sans-serif;
		font-size: 1.4em;
		font-weight: 500;
		letter-spacing: -0.02em;
		color: #fff !important;
		opacity: 0.6 !important;
		margin-top: 2px;
		transition: all 0.4s ease-in-out;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
	a.nav-link {
		font-size: 2em;
	}
}

a.nav-link:hover {
	opacity: 1 !important;
}

h1 {
    font-family: 'Satoshi', sans-serif;
    font-size: 2.8em;
    font-weight: 900;
	color: #2C2C2C;
	text-align: left;
	letter-spacing: -0.03em;
}

h1#h1-hero {
	text-align: center;
	opacity: 0.8;
	font-weight: 800;
	font-size: 300%;
}

h2 {
	font-family: 'Satoshi', sans-serif;
    font-size: 1.9em;
    font-weight: 700;
	color: #2C2C2C;
	text-align: left;
	letter-spacing: -0.02em;

}

/* Default text on mobile */
h3 {
    font-family: 'Satoshi',  sans-serif; 
    font-size: 2em;  
    font-weight: 900;
    /* text-transform: uppercase; */
	letter-spacing: -0.02em;
}

/* First tile size */
@media (min-width: 576px) {
    h3 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 2.6em;  
        font-weight: 900; 
		letter-spacing: -0.03em;   
    }   
}

/* First 4 grid tiles */
@media (min-width: 768px) {
    h3 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 2em;  
        font-weight: 900;
		letter-spacing: -0.01em;      
    }   
}

/* Second 4 grid tiles */
@media (min-width: 992px) {
    h3 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 2.6em;  
        font-weight: 900; 
		letter-spacing: -0.02em;         
    }   
}

/* Third 4 grid tiles */
@media (min-width: 1200px) {
    h3 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 3.2em;  
        font-weight: 900;
		letter-spacing: -0.03em;
    
    }   
}

/* Default text on mobile */
h4 {
	font-size: 1.2em;
	font-weight: 400;
}

/* First tile size */
@media (min-width: 576px) {
    h4 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 1.3em; 
        font-weight: 400;
    }   
}

/* First 4 grid tiles */
@media (min-width: 768px) {
    h4 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 1.2em; 
        font-weight: 400;  
    }   
}

/* Second 4 grid tiles */
@media (min-width: 992px) {
    h4 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 1.3em; 
        font-weight: 400;  
    }   
}

/* Third 4 grid tiles */
@media (min-width: 1200px) {
    h4 {
        font-family: 'Satoshi',  sans-serif; 
        font-size: 1.5em; 
        font-weight: 400; 
		line-height: 1.6em; 
    }   
}

h5 {
	font-style: sans-serif;
	font-family: 'Satoshi', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.8em;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

 @media (min-width: 768px) {
	h5 {
		font-size: 1.5em;
		line-height: 1.5em;
		color: #fff;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

	}
}

.navbar#white {
	background-color: rgba(255, 255, 255, 0); /* transparent navbar */
	transition: background-color 200ms linear;
}

.navbar {
	background-color:#070D0D;
	transition: background-color 200ms linear;
}

#role-heading {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
	letter-spacing: -0.02em;       
    color: white;
    opacity: 0.75;
    margin-top: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 576px) {
	#role-heading {
		font-family: 'Satoshi', sans-serif;
		font-size: 1.4em;
		font-weight: 400;
		letter-spacing: -0.02em;       
		color: white;
		opacity: 0.75;
		margin-top: 2px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@media screen and (min-width: 768px) {
	#role-heading {
		font-family: 'Satoshi', sans-serif;
		font-size: 2em;
		font-weight: 400;
		letter-spacing: -0.02em;       
		color: white;
		opacity: 0.75;
		margin-top: 2px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		
	}
}

.invert {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}


#name-heading {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
	opacity: 1;
	letter-spacing: -0.02em;         
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}


@media screen and (min-width: 576px) {
	#name-heading {
    font-size: 1.4em;
    font-weight: 700;
	opacity: 1;
	letter-spacing: -0.02em;         
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
}

@media screen and (min-width: 768px) {
	#name-heading {
    font-size: 2em;
    font-weight: 700;
	opacity: 1;
	letter-spacing: -0.03em;         
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
}

.container {
    max-width: 1320px;
	overflow-x: hidden;
	position: relative;
}

.container#smaller-container {
	max-width: 760px;
	overflow-x: hidden;
	
}

.img-fluid#about-images {
	width: 80%;
	
}

.full-width{
	overflow-x: hidden;
	height: 100%;
}

/* ------------------------------------------- */

.tile {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
	border-radius: 30px;
}

/* Common style */
.tile figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

/* setting tile */
.tile figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}


.tile figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 0.9em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}

.tile figure figcaption::before,
.tile figure figcaption::after {
	pointer-events: none;
}

.tile figure figcaption,
.tile figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.tile figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

@media screen and (min-width: 576px) {
.tile figure h3,
.tile figure h4 {
	margin: 0;
}
}

.tile figure h4 {
	font-weight: 400;
}

.float-right {
	float: right;
}

.lockpill {
	/* font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;	 */
	/* text-transform: uppercase; 	 */
	align-items: center;
	width: -moz-fit-content;
  	width: fit-content;
	padding: 7px 18px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 24px;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

/*---------------*/
/***** hover *****/
/*---------------*/
	figure.effect-hover figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #070D0D;
	content: '';
	opacity: 0;
	
}

	figure.effect-hover h3 {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	
}

@media screen and (min-width: 576px) {
	figure.effect-hover figcaption::before,
	figure.effect-hover h4 {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	}
}

/* hides the subtitle */
	figure.effect-hover h4 {
	position: absolute;
	top: 40%;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	}

	figure.effect-hover .lockpill {
		position: relative;
		top: 80%;
		/* left: 0;
		padding: 2em;
		width: 100%; */
		opacity: 0;
		-webkit-transform: translate3d(0,10px,0);
		transform: translate3d(0,10px,0);
		}



@media screen and (min-width: 576px) {
	figure.effect-hover:hover h3 {
    opacity: 1;
	color: #fff;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-30%,0) translate3d(0,-30px,0);
	transform: translate3d(0,-30%,0) translate3d(0,-30px,0);
	}
}

@media screen and (min-width: 576px) {
	figure.effect-hover:hover figcaption::before {
	opacity: 0.65;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
}

@media screen and (min-width: 576px) {
 	figure.effect-hover:hover h4 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
}

@media screen and (min-width: 576px) {
	figure.effect-hover:hover .lockpill {
   opacity: 1;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
   }
} 

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.tile figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box;}
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }



.hvr-icon-forward {
	display: inline-block;
	vertical-align: top;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.hvr-icon-forward .hvr-icon {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon i {
	color: inherit;
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}

.modal-dialog {
	max-width: 90vw;
	max-height: 85vh;
}
 
  @media screen and (min-width: 992px) {
	.modal-dialog {
		max-width: 80vw;
	}
  }

.carousel-control-prev {
	left: -4vw;
}

.carousel-control-next {
	right: -4vw;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


.modal-content {
	background-color: transparent;
	border: 0px;
}
 


hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.footer {
	background-color: #fafafa;
	padding-top: 2.5rem;
	border-top: .05rem solid #f9f9f9;
}


/*=== Trigger  ===*/
.animate {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	transition-timing-function: ease-out;
	transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }

.two {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
	}

.three {
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	animation-delay: 1.1s;
}

.four {
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	animation-delay: 1.3s;
}

.five {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}



/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }
  .fadeIn {
	  -webkit-animation-name: fadeIn;
	  animation-name: fadeIn;
  }


iframe#prototype1 {
    display: block;
    border-style:none;
	scale: 0.75;
	text-align: center;
}


.image-stack {
	padding-top: 10vh;
	display: grid;
	position: relative; 
	grid-template-columns: repeat(12, 1fr);
  }
  
  .image-stack__item--bottom {
	grid-column: 4 / -1;
	grid-row: 1;
	z-index: -1;
  }
  
  .image-stack__item--top {
	grid-row: 1;
	grid-column: 1 / span 8; 
	padding-top: 90%; 
	z-index: 1; 
  }


  .lock-icon {
	display: inline-block;
    width: 16px;
    height: 18px;
    overflow: hidden;
	color: #fff;
  }

  section {
    background-color: #fff;
}

/* Hover animation chevron */
a.scroll {
    font-size: 1.4em;
	color: #2C2C2C;
	font-weight: 400;
	letter-spacing: -0.006em;
}

a.scroll:hover {
    font-size: 1.4em;
	color: #2C2C2C;
	font-weight: 400;
	letter-spacing: -0.006em;
    opacity: .5;	
	cursor: pointer;
}

.demo {
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    transition: opacity .3s;
    padding-bottom: 8px;
  }
  
.demo:hover {
    opacity: .5;
  }
  
  #section04 a.scroll {
    display: flex;
  }
  
  #section04 a.scroll span {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    margin-right: 12px;
    border-left: 1.6px solid #2C2C2C;
    border-bottom: 1.6px solid #2C2C2C;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 4s infinite;
    animation: sdb04 4s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    12% {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    }
    24% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
      }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    12% {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    24% {
      transform: rotate(-45deg) translate(0, 0);
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }

  /* Sticky button Scroll to top */
  .scrollToTopBtn {
    background-color:rgba(20, 20, 20, 0.5);
    border: none;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0)
  }



  /* heading for mobile */
.heading-bg {
    position: relative;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc((var(--vh, 1vh) * 100) - 78px );
}

/* all other screens */
@media (min-width: 768px) {
    .heading-bg {
        position: relative;
        height: calc(100vh - 90px);
        min-height: 600px;
    }
}

.heading-content {
    position: relative;
    height: 100%;
    min-height: 600px;
}


.heading-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 102px;
    background: #fff;
}

.hero {
    position: relative;
    left: calc(100vw * 0.52);
    z-index: 1;
    height: 100%;
}

.hero-image {
    display: inline-block;
    position: absolute;
    top: 2vh;
    max-height: calc(95vh - 90px);
    min-height: 564px;
    z-index: -1;
}

.heading-text {
        position: absolute;
        top: 5%;
        z-index: 5;
        width: 100%;
}

  @media (min-width: 768px) {
    .heading-text {
        position: absolute;
        top: 20%;
        z-index: 5;
        width: 100%;
    }
}

.heading-title {
    height: 55vh;
    overflow: hidden;

}

/* Text on mobile */
    h1#header {
    font-family: 'Satoshi'; 
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #141414;

}

/* Scaling up */
@media (min-width: 576px) {
    h1#header {
        font-size: 44px;
        line-height: 52px;
        letter-spacing: -0.02em;
    }
}

@media (min-width: 768px) {
    h1#header {
        font-size: 44px;
        line-height: 52px;
        letter-spacing: -0.02em;
    }
}

@media (min-width: 992px) {
    h1#header {
        font-size: 52px;
        line-height: 58px;
        letter-spacing: -0.02em;
    }
}

@media (min-width: 1200px) {
    h1#header {
        font-size: 62px;
        line-height: 76px;
        letter-spacing: -0.02em;

    }
}

/* Text on mobile */
h2#header {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.01em;
    

}

/* Scaling up */
@media (min-width: 576px) {
    h2#header {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 768px) {
    h2#header {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 992px) {
    h2#header {
        font-size: 32px;
        line-height: 32px;
    }
}

@media (min-width: 1200px) {
    h2#header {
        font-size: 36px;
        line-height: 34px;
    }
}

.fade-X-left {
    opacity: 0;
    transition: opacity .6s cubic-bezier(0.16, 1, 0.3, 1),transform .6s cubic-bezier(0.16, 1, 0.3, 1);    
    transform: translateX(-15px);
}

.fade-X-right {
    opacity: 0;
    transition: opacity .6s cubic-bezier(0.16, 1, 0.3, 1),transform .6s cubic-bezier(0.16, 1, 0.3, 1);    
    transform: translateX(15px);
}

.fade-Y-bottom {
    opacity: 0;
    transition: opacity .6s cubic-bezier(0.16, 1, 0.3, 1),transform .6s cubic-bezier(0.16, 1, 0.3, 1);    
    transform: translateY(50px);
}


.slide-X-left {
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1),transform 1.4s cubic-bezier(0.16, 1, 0.3, 1);    
    transform: translateX(-200px);
}

.slide-X-right {
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1),transform 1.4s cubic-bezier(0.16, 1, 0.3, 1);     
    transform: translateX(200px);
}

.hero-slide-X-top {
	opacity: 0;
	transition: opacity .6s cubic-bezier(.41, .01, .57, 1.01), transform .6s cubic-bezier(.41, .01, .57, 1.01);
	transform: translateX(80px);
}

.hero-slide-X-bottom {
	
	opacity: 0;
	transition: opacity .8s cubic-bezier(.50, .01, .51, 1.01)0.1s, transform 1s cubic-bezier(.41, .01, .57, 1.01)0.5s;
	transform: translateX(80px);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}


