@media only screen and (min-width:768px) {
    .container-xxl {
        max-width: 1600px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

.container-p {
    position: relative;
    max-width: 680px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto
}

.shadow {
    box-shadow: var(--shadow-elevation-medium);
 }

 @media (max-width: 768px){
    .margin-bottom { 
        margin-bottom: 1rem;
    }
  }

.hero {
    width: 100%;
    height: 80dvh;
}
@media (min-width: 576px) {
    .hero {
        height: 100vh;
        min-height: fit-content;
    }
}

@media screen and (min-height: 1001px) {
    .hero {
      height: auto; 
    }
  }

@media (max-width: 992px) {
    .scrollToTopBtn {
      mix-blend-mode: normal !important;
    }
  }

.center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.p-title {
    font-weight: 700;
    line-height: 0;
}